@mixin displayFlex() {
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
}

@mixin displayButton() {
    display: flex;
    justify-content: center;
    align-items: center;
}